<template>
  <div class="form2">
    <p class="title_form2">Masukkan teks pendek</p>
    <input :class="status" v-model="form.value" placeholder="masukkan teks"/>
    <p class="title_form2">Masukkan kata kunci yang anda inginkan</p>
    <input :class="status" v-model="form.key" placeholder="masukkan kata kunci"/>
    <br>
    <div class="button2">
      <div style="padding:3px">
        <button class="theButton" @click="submit('e')"> Enkripsi </button>
      </div>
      <div style="padding:3px">
        <button class="theButton" @click="submit('d')"> Dekripsi </button>
      </div>
    </div>
    <p class="result2" v-show="showResult" > Hasil {{ form.type === "e"? "Enkripsi": "Dekripsi" }}</p> 
    <p v-show="showResult" style="font-weight:bold" >{{ result }}</p>
  </div>
</template>
<script>
  import { postChipper } from '../API'
  export default {
    data(){
      return{
        form:{
          value: "",
          key: "",
          type: ""
        },
        result: "aaa",
        showResult: false,
        status: "normalForm"
      }
    },
    methods:{
      submit(type){
        this.form.type = type
        const thisVM = this
        postChipper(this.form).then(
          (res) => {
            thisVM.result = res.data.content
            thisVM.showResult = true
            thisVM.status = "form_ok2"
          }
        )
      }
    }
  }
</script>

<style>
  .form2{
    margin-top: 20px;
  }
  .title_form2{
    color: whitesmoke;
    padding: 10px;
    font-size: 16pt;
  }
  .button2{
    padding: 7px;
    margin: 7px;
    display: inline-flex;
  }
  .result2{
    font-weight: bold;
    color:#50ff4a;
  }
  .form_ok2{
    height: 30px;
    border-radius: 7px;
    border-color: green;
    border-width: 3px;
  }
  .normalForm{
    height: 30px;
    border-radius: 7px;
    border-color: grey;
    border-width: 3px;
  }

  .theButton{
    height: 30px;
    padding: 5px;
    width: 75px;
    /* margin: 5px; */
    border-radius: 5px;
    background-color: whitesmoke;
  }
</style>