<template>
  <div class="form">
    <p class="title_form">Masukkan list nilai 1</p>
    <input :class="status" v-model="form.array1" placeholder="contoh: 1, 2, 3, 4"/>
    <p class="title_form">Masukkan list nilai 2</p>
    <input :class="status" v-model="form.array2" placeholder="contoh: 1, 2, 3, 4"/>
    <br>
    <div class="button">
      <button class="theButton1"  @click="submit"> Generate Rank </button>
    </div>
    <div v-show="showResult">
      <div v-if="normal">
        <p class="title_result"> Ranking List 2 : </p>
        <ul >
          <li style="font-weight:bold" v-for="(item, index ) in result.rank" :key="index">
            {{ item }}
          </li>
        </ul>
        <p class="title_result"> List Nilai : </p>
        <ul >
          <li style="font-weight:bold" v-for="(item, index ) in result.list" :key="index">
            {{ item }}
          </li>
        </ul>
      </div>
      <div class="error_msg" v-else>
        <p> {{ result }} </p>
      </div>
    </div>
  </div>
</template>

<script>
  import { postRank } from '../API'
  export default {
    data(){
      return{
        form:{
          array1:"",
          array2:""
        },
        result: "aaa",
        showResult: false,
        status: "normalForm",
        normal: false
      }
    },
    methods:{
      submit(){
        const thisVM = this
        postRank(this.form).then(
          (res) =>{
            console.log(res.data)
            if(res.data.respCode === 200){
              thisVM.result = res.data.content
              thisVM.showResult = true
              thisVM.status = "form_ok"
              thisVM.normal = true
            } else {
              thisVM.result = res.data.content
              thisVM.showResult = true
              thisVM.status = "form_error"
              thisVM.normal = false
            }
          }
        )
      }
    }
  }
</script>

<style>
  .form{
    margin-top: 20px;
  }
  .title_form{
    color: whitesmoke;
    padding: 10px;
    font-size: 16pt;
  }
  .form_ok{
    height: 30px;
    border-radius: 7px;
    border-color: green;
    border-width: 3px;
  }
  .form_error{
    height: 30px;
    border-radius: 7px;
    border-color: red;
    border-width: 3px;
  }
  .error_msg{
    color: #ff8882;
    font-weight: bold;
    padding: 10px
  }
  .button{
    padding: 15px;
  }
  .title_result{
    font-weight: bold;
    color:#50ff4a;
  }
  li.result {
    padding: 7px 15px;
    border-radius: 10px;
    margin: 0;
    display: inline-block;
    margin-right: 1px;
    cursor: pointer;
  }
  .normalForm{
    height: 30px;
    border-radius: 7px;
    border-color: grey;
    border-width: 3px;
  }
  .theButton1{
    height: 30px;
    padding: 5px;
    width: 130px;
    /* margin: 5px; */
    border-radius: 5px;
    background-color: whitesmoke;
  }

</style>