<template>
  <div class='wrapper'>
    {{  msg }}
    <Tabs >
      <Tab title="Tab 1">Hello From Tab 1</Tab>
      <Tab title="Tab 2">Hello From Tab 2</Tab>
    </Tabs>
  </div>
</template>

<script>
import Tab from './Tab'
import Tabs from './Tabs'

export default {
  components:{
    Tab,
    Tabs
  },
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data (){
    return {
      selectedIndex: 0,
      tabs:[]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
  * {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
  }
  .wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
  }
</style>
