<template>
  <div class="tab" v-show="isActive"> 
    <slot></slot>
  </div>
</template>
<script>
export default {
    props:{
      title:{
        type: String,
        default: "Tab"
      }
    },
    data(){
      return{
        isActive: true
      }
    }
}
</script>

<style >
   .tab {
    display: inline-block;
    color: black;
    padding: 20px;
    min-width: 300px;
    border-radius: 10px;
    min-height: 350px;
    width: 50%;
  }
  @media (min-width: 400px) {
    .tab {
    /* height: 40px; */
    background-color: green;
    }
  }

  
</style>