<template>
  <div class="tabs"> 
    <ul class="tab__header">
      <li 
        v-for="(tab, index) in tabs"
        :key="index"
        @click="selectTab(index)"
        :class='{"tab__selected": (index == selectedIndex)}'
      >
        {{ tab.title }}
      </li>
    </ul>
    <slot></slot>
  </div>
</template>

<script>
export default {
    data() {
      return{
        selectedIndex:0,
        tabs:[]
      }
    },
    created(){
      this.tabs = this.$children  
    },
    mounted () {
      this.selectTab(0)
    },
    methods: {
      selectTab(i) {
        this.selectedIndex = i
        // loop over all the tabs
        this.tabs.forEach((tab, index) => {
          tab.isActive = (index === i)
        })
      }
    }
}
</script>

<style >
  ul.tab__header{
    /* display: flex; */
    list-style: none;
    margin: 0 0 0 20px;
    align-items: center;
    text-align: center;
    /* background-color: pink; */
  }
  li {
    padding: 15px 30px;
    border-radius: 10px;
    margin: 0;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }
  li.tab__selected {
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border-bottom: 8px solid transparent;
  } 
  .tabs .tab{
    /* display: flexbox; */
    background-color: grey;
    color: #eee;
  }

  .tabs .li{
    background-color: whitesmoke;
    color: #aaa;
  }

  .tabs li.tab__selected{
    background-color: grey;
    color: white;
  }


</style>