<template>
  <div class="wrapper">
    <div class="app_header">
      <div class="vue_icon">
        <img style="width:150px;height:150px;padding:5px" alt="Vue logo" src="./assets/logo.png">
      </div>
      <div style="padding:15px">
        <p style="margin-top:7px" class="app_title">Take Home</p>
        <p class="app_title">Test</p>
      </div>
    </div>
    <Tabs >
      <Tab title="Dense Rank">
        <Rank/>
      </Tab>
      <Tab title="Chipper">
        <Chipper/>
      </Tab>
    </Tabs>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Tab from '@/components/Tab'
import Tabs from '@/components/Tabs'
import Rank from '@/components/DenseRank'
import Chipper from '@/components/Chipper'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Tab,
    Tabs,
    Rank,
    Chipper
  }
}
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    
  }
  .wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .app_header{
    display: inline-flex;
    padding: 10px;
    margin-bottom: 5px;
  }
  .vue_icon{
    margin-top: 5px;
    display: inline-block;
  }
  .app_title{
    font-weight: bolder;
    font-size: 30pt;
    min-inline-size: 30pt;
    min-width: 10 pt;
    color: #3b3b3b  ;
  }
</style>
